Repository RomMad/app-assia, pull requests merged in 2022-03, with the labels that each got.

#129 Feature to import huda data
  CHANGELOG.md
  README.md
  src/Controller/Admin/ImportController.php
  src/Entity/Admin/TaskSettingTrait.php
  src/Service/Import/ImportDatasHebergement.php
  src/Service/Import/ImportHudaData.php
  src/Service/SiSiao/SiSiaoEvaluationImporter.php
  templates/_shared/_footer.html.twig
  templates/app/admin/import.html.twig
  templates/app/organization/service/_service_places.html.twig
  templates/app/support/hotel_support/_hotel_support_form.html.twig
Labels: enhancement, php

#123 Sync google/outlook calendar feature
  .gitignore
  .idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
  .vscode/tasks.json
  CHANGELOG.md
  README.md
  assets/js/api/ApiCalendar.js
  assets/js/rdv/calendar.js
  assets/js/rdv/model/RdvModel.js
  composer.json
  composer.lock
  config/services.yaml
  package-lock.json
  package.json
  src/Controller/Api/GoogleCalendarController.php
  src/Controller/Api/OutlookCalendarController.php
  src/Controller/Rdv/RdvController.php
  src/Entity/Evaluation/EvalBudgetPerson.php
  src/Entity/Organization/User.php
  src/Entity/People/Person.php
  src/Entity/Support/Rdv.php
  src/Entity/Support/SupportGroup.php
  src/Entity/Traits/CreatedUpdatedEntityTrait.php
  src/Event/Rdv/RdvEvent.php
  src/EventDispatcher/Rdv/RdvSubscriber.php
  src/Form/Support/Rdv/RdvType.php
  src/Service/Api/AbstractApiCalendar.php
  src/Service/Api/ApiCalendarRouter.php
  src/Service/Api/GoogleApi/GoogleCalendarApiService.php
  src/Service/Api/OutlookApi/OutlookCalendarApiService.php
  symfony.lock
  templates/_shared/_footer.html.twig
  templates/app/rdv/_rdvModal.html.twig
  templates/app/rdv/_update_rdv_modal.html.twig
  templates/app/rdv/calendar.html.twig
  templates/app/rdv/rdv_index.html.twig
  tests/Controller/Organization/TagControllerTest.php
  tests/uploads/exports/2021/12/08/2021_12_08_Recu-de-paiement-DOE-John.pdf
  translations/forms.fr.yaml
  yarn.lock
Labels: enhancement, dependencies, php, javascript

#132 Fix
  CHANGELOG.md
  README.md
  src/Command/Admin/AnonymizeDatabaseCommand.php
  src/Entity/Evaluation/ResourcesEntityTrait.php
  templates/_shared/_footer.html.twig
  templates/app/document/listDocuments.html.twig
Labels: bug

#136 Update SI-SIAO feature
  .gitignore
  CHANGELOG.md
  README.md
  package-lock.json
  src/Entity/Evaluation/AbstractFinance.php
  src/Entity/Evaluation/EvalProfPerson.php
  src/Service/SiSiao/SiSiaoClient.php
  src/Service/SiSiao/SiSiaoEvaluationImporter.php
  src/Service/SiSiao/SiSiaoGlossary.php
  src/Service/SiSiao/SiSiaoItems.php
  templates/_shared/_footer.html.twig
  templates/app/evaluation/edit/_evaluation_prof.html.twig
  yarn.lock
Labels: php

#142 Export payments inside pdf, word and note documents
  CHANGELOG.md
  CONVENTIONS.md
  README.md
  src/Controller/Evaluation/EvaluationController.php
  src/Controller/Payment/PaymentController.php
  src/Entity/Organization/User.php
  src/Form/Model/Admin/ServiceIndicatorsSearch.php
  src/Form/Model/Event/EventSearch.php
  src/Form/Model/Event/TaskSearch.php
  src/Form/Model/Organization/TagSearch.php
  src/Form/Model/Organization/UserSearch.php
  src/Form/Model/Support/AvdlSupportSearch.php
  src/Form/Model/Support/HotelSupportSearch.php
  src/Form/Model/Support/SupportSearch.php
  src/Form/Model/Support/Traits/PaymentSearchTrait.php
  src/Repository/Organization/DeviceRepository.php
  src/Repository/Organization/PlaceRepository.php
  src/Repository/Organization/ReferentRepository.php
  src/Repository/Organization/ServiceRepository.php
  src/Repository/Organization/SubServiceRepository.php
  src/Repository/Organization/TagRepository.php
  src/Repository/Organization/UserRepository.php
  src/Repository/People/PersonRepository.php
  src/Repository/Support/NoteRepository.php
  src/Repository/Support/PaymentRepository.php
  src/Repository/Support/PlacePersonRepository.php
  src/Repository/Support/SupportGroupRepository.php
  src/Repository/Support/SupportPersonRepository.php
  src/Service/Evaluation/EvaluationExporter.php
  src/Service/Indicators/ServiceIndicator.php
  src/Service/People/PeopleGroupCollections.php
  src/Service/SupportGroup/SupportCollections.php
  templates/_shared/_footer.html.twig
  templates/app/evaluation/export/_eval_budget.html.twig
  templates/app/evaluation/export/_eval_budget_payments.html.twig
  templates/app/payment/listPayments.html.twig
  templates/app/payment/supportPayments.html.twig
  tests/Controller/Organization/TagControllerTest.php
Labels: enhancement, php
